#location_chooser
  %label= :country.l
  = select_tag(:country_id, options_from_collection_for_select(ISO3166::Country.all, "id", "name", selected_country), {:include_blank => true, :class => "form-control"})
